@model BookBooking.Models.UploadedBookViewModel

<h1>本の登録</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label" />
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label" />
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label asp-for="File" class="form-label" />
        <input asp-for="File" class="form-control" accept="image/*">
        <span asp-validation-for="File"></span>
    </div>
    <div class="image-parent">
        <input type="hidden" asp-for="ImageUrl">
        <img src="~/@Model.GetImageUrl()" class="img-fluid" alt="@Model.Title">
    </div>
    <button type="submit" class="btn btn-primary">更新</button>
</form>