@model BookBooking.ViewModels.LoginViewModel

<h1>ログイン</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>
        </div>

        <div class="col">
            <!-- TODO: Forgot password fanctionality -->
            @*<a href="#">Forgot password?</a>*@
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">ログイン</button>

    <!-- Register link -->
    <div class="text-center">
        <p>Not a member? <a asp-action="Register">Register</a></p>
    </div>
</form>