@model BookBooking.ViewModels.RegisterViewModel

<h1>Sign up</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-outline mb-4">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label asp-for="Role"></label>
        <select asp-for="Role" asp-items="Html.GetEnumSelectList<BookBooking.Models.UserRole>()">
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

    <!-- Register link -->
    <div class="text-center">
        <p>Already registered? <a asp-action="Login">Login</a></p>
    </div>
</form>
